/* Light Mode Background */
.light-mode-bg {
  background-color: #ffffff; /* Adjust the light mode background color */
  color: #030b3d; /* Light mode text color */
}

/* Dark Mode Background */
.dark-mode-bg {
  background-color: #030b3d; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}
/* Light Mode Gradient Text */
.light-mode-text-gradient {
  background: linear-gradient(to right, #030b3d, #105abf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dark Mode Gradient Text */
.dark-mode-text-gradient {
  background: linear-gradient(to right, #8eeffd, #1e3351);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
